*
!.zshrc
!.p10k.zsh
!.tmux.conf
!.gitconfig
!.gitignore
!.gitignore_global
!.git-prompt.sh
!.latexmkrc
!.gtkrc-2.0
!.pam_environment
!.xinitrc
!.config

!.config/betterlockscreenrc
!.config/picom.conf

!.config/kitty/
!.config/kitty/*

!.config/bspwm/
!.config/bspwm/*

!.config/sxhkd/
!.config/sxhkd/*

!.config/polybar/
!.config/polybar/*

!.config/rofi/
!.config/rofi/*

!.config/dunst/
!.config/dunst/*

!.config/gtk-3.0/*

!.config/mpd/mpd.conf
!.config/ncmpcpp/config

!.config/nvim/
!.config/nvim/*
!.config/nvim/plugin/
!.config/nvim/plugin/*
!.config/nvim/lua/
!.config/nvim/lua/*

!.config/ranger/*
!.config/zathura/*

!.local/
!.local/scripts/
!.local/scripts/*
