*
!.config/betterlockscreenrc
!.config/picom.conf
!.bashrc
!.tmux.conf
!.gitconfig
!.gitignore
!.gitignore_global
!.git-prompt.sh
!.latexmkrc
!.gtkrc-2.0
!.pam_environment
!.xinitrc
!.Xresources
!.urxvt/*
!.urxvt/ext/*
!.config/bspwm/*
!.config/sxhkd/*
!.config/polybar/*
!.config/polybar/scripts/*
!.config/rofi/*
!.config/dunst/*
!.config/gtk-3.0/*
!.config/mpd/mpd.conf
!.config/ncmpcpp/config
!.config/nvim/*
!.config/nvim/plugin/*
!.config/ranger/*
!.config/zathura/*
